/*This is the way to setup css variables that we can use later with the name of the variable "var(--mainBlue)" like shown below in the body*/
:root {
  --mainRed:#E74F4F;
  --lightBlue:#009ffd ;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow: #ffb830;
  --lightGray:lightgray;
}

body{
  font-family: 'Oswald', sans-serif !important; /*Because we are using Bootstrap we need !important or else bootstrap will overwrite it  */
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Prosto One', cursive;
  letter-spacing: 0.3rem;

}
.text-red {
  color: var(--mainRed);
}
.text-bright {
  color: var(--lightBlue);
}

